<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>controller.AddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>controller.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderManagedHistory</servlet-name>
        <servlet-class>controller.DisplayOrderManagedHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>controller.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPurchaseHistory</servlet-name>
        <servlet-class>controller.DisplayPurchaseHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPurchaseHistoryDetails</servlet-name>
        <servlet-class>controller.DisplayPurchaseHistoryDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffList</servlet-name>
        <servlet-class>controller.LoadStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>controller.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListManageServlet</servlet-name>
        <servlet-class>controller.OrderListManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>controller.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartListServlet</servlet-name>
        <servlet-class>controller.RemoveCartListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>controller.ViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopSellProductServlet</servlet-name>
        <servlet-class>controller.TopSellProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>controller.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderStatusList</servlet-name>
        <servlet-class>controller.LoadOrderStatusList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCustomerServlet</servlet-name>
        <servlet-class>controller.LoadCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>controller.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffServlet</servlet-name>
        <servlet-class>controller.LoadStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffAccount</servlet-name>
        <servlet-class>controller.UpdateStaffAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/AddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/DisplayCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderManagedHistory</servlet-name>
        <url-pattern>/DisplayOrderManagedHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/DisplayProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPurchaseHistory</servlet-name>
        <url-pattern>/DisplayPurchaseHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPurchaseHistoryDetails</servlet-name>
        <url-pattern>/DisplayPurchaseHistoryDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffList</servlet-name>
        <url-pattern>/LoadStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListManageServlet</servlet-name>
        <url-pattern>/OrderListManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/RegisterCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartListServlet</servlet-name>
        <url-pattern>/RemoveCartListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/ViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopSellProductServlet</servlet-name>
        <url-pattern>/TopSellProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderStatusList</servlet-name>
        <url-pattern>/LoadOrderStatusList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCustomerServlet</servlet-name>
        <url-pattern>/LoadCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffServlet</servlet-name>
        <url-pattern>/LoadStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffAccount</servlet-name>
        <url-pattern>/UpdateStaffAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>footer and header settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/view/*</url-pattern>
            <include-prelude>/view/components/header.jspf</include-prelude>
            <include-coda>/view/components/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>admin</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/view/secureAdmin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>staff</web-resource-name>
            <description/>
            <url-pattern>/view/secureStaff/ManageOrder.jsp</url-pattern>
            <url-pattern>/view/secureStaff/ProductList.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>adminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/view/Login.jsp</form-login-page>
            <form-error-page>/view/ErrorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>adminRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>staffRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>userRole</role-name>
    </security-role>
</web-app>
